
// H1
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
//font-family: 'PT serif', serif;
$title: 'PT serif';

// H2 y H3
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
//font-family: 'Poppins', sans-serif;
$description: 'Poppins';

// Footer
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
//font-family: 'Montserrat', sans-serif;
$attribution: 'Montserrat';