$header-title: #FEF0F5;
$header-subtitle: #FCA2C6;
$header-text: #FEE0EC;

$pic-shadow: #FEE0EC;
$pos-shadow: #8A053A;

$name: #FEF0F5;
$position: #FFFFFF;

$bg-owner: #9d4edd;//#8A053A;
$bg-art: #FF6B00;
$bg-tech: #3B26F7;
$bg-ux: #C125F7;
$bg-dev: #FF0006;

$attribution: #CA5383;