// Header
$header-title: #FEF0F5;
$header-subtitle: #FCA2C6;
$header-text: #FEE0EC;

// Team
$pic-shadow: #FEE0EC;
$pos-shadow: #8A053A;

$name: #FEF0F5;
$position: #FFFFFF;

$bg-position: #9d4edd;

// Footer
$attribution: #FCA2C6;