header {
    @media screen and (min-width: 768px) {
        display: flex;
        padding-top: 1.5rem;
    }   

    @media screen and (min-width: 1200px) {
        padding-top: 2rem;
    }
}

.header__title {
    font-family: $title, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    color: $header-title;
    margin-bottom: 2rem;

    @media screen and (min-width: 768px) {
        width: 50%;
        margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
        width: 50%;
        margin-left: 4rem;
        font-size: 45px;
    }
}

.header__description {
    font-family: $description, sans-serif;

    @media screen and (min-width: 768px) {
        width: 40%;
    }

    @media screen and (min-width: 1200px) {
        width: 40%;
        margin-right: 4rem;
    }
}

.header__subtitle {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: $header-subtitle;

    @media screen and (min-width: 1200px) {
        font-size: 25px;
    }
}

.header__text {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: $header-text;

    @media screen and (min-width: 1200px) {
        font-size: 20px;
        line-height: 30px;
    }
}